:root {
  --primary-color: #1864ab;

  --text-color-dark: #495057;
  --text-color-mid: #adb5bd;
  --text-color-light: #f8f9fa;
}

body {
  margin: 0;
  font-family: inter, sans-serif, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  text-decoration: none;
}

li {
  list-style: none;
}

h2,
h3 {
  text-align: center;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
  padding: 3rem;
  justify-content: center;
  align-items: center;
}

.page {
  display: grid;
  width: 900px;
  border-radius: 10px;
  height: 1272px;
  box-shadow: 2px 9px 21px 5px rgba(0, 0, 0, 0.39);
}

@media (min-width: 900px) {
  .page {
    grid-template-columns: 1fr 2fr;
  }
}

.side-bar {
  display: flex;
  border-radius: 10px 0 0 10px;
  flex-direction: column;
  background-color: var(--primary-color);
  height: 100%;
  justify-content: center;
  align-items: center;
}

.skills {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 100%;
  color: var(--text-color-light);
}

.logo-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn a {
  text-decoration: none;
}

.btn {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.25rem;
  border-radius: 5px;
  background-color: rgb(163, 163, 163);
}

.btn:hover {
  background-color: rgb(224, 224, 224);
}

.section {
  /* border-bottom: 1px solid #777; */
  padding: 1rem;
  margin: 1rem;
}

.section::after,
.logo-container::after {
  content: "";
  display: block;
  margin: 1rem auto 0;
  background: #777;
  width: 90%;
  height: 1px;
}

.section h3 {
  text-align: center;
  margin-bottom: 0.5rem;
}

.section ul {
  line-height: 1.75rem;
}

.heading-box {
  max-width: fit-content;
  align-self: center;
  padding: 0.25rem 2rem;
  border: 2px solid var(--text-color-mid);
  margin: 1rem;
}

.skills__container {
  display: flex;
  flex-direction: column;

  margin: 1rem;
}

.skills__container ul {
  line-height: 1.5rem;
}

.skills h3 {
  border-bottom: 1px solid var(--text-color-mid);
  margin-bottom: 0.25rem;
}

.main {
  color: var(--text-color-dark);
}
